* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON */
body {
    font-size: 87.5%;
    font-family: "Montserrat", sans-serif;
}

main {
    height: calc(100% - 8rem );
    width: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}


a {
    font-weight: 500;
    text-decoration: none;
    color: grey;
}

a:hover {
    color: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.mb-10 {
    margin-bottom: 1rem;
}

.mb-20 {
    margin-bottom: 2rem;
}


/* NAV */
nav {
    float: left;
    padding: 1em;
    height: 100%;
    width: 16rem;
    background-color: #000000;
}

.nav-top {
    height: 11rem;
}

.logo img {
    height: 2.5rem;
}

.nav-btn {
    line-height: 1.5em;
}

nav i {
    padding-right: .5em;
    vertical-align: middle;
    color: #535353;
}

.menu i {
    width: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

.playlist {
    height: calc(100% - 15rem);
}


.playlist h2 {
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
}

.create-pl {
    font-size: 1.2em;
    text-transform: capitalize;
}

.create-pl i {
    font-size: 2em;
    line-height: 2em;
}

.playlist-list {
    height: calc(100% - 5rem);
    overflow-y: auto;
}

.playlist li {
    line-height: 2em;
    text-transform: capitalize;
}

.nav-bottom {
    padding: .5em 0;
    height: 4rem;
}

.install-btn {
    border-bottom: 1px solid #535353;
    padding-bottom: .5em;
    margin-bottom: .75em;
}

.user i {
    padding: 0;
    font-size: 2em;
    line-height: 1em;
    vertical-align: middle;
    color: #ffffff;
    background-color: #535353;
    border-radius: .9em;
}

.user a {
    padding-left: .5em;
    font-size: 1.2em;
    font-weight: 700;
    color: #ffffff;
}


/* CONTENT */
.content {
    float: left;
    overflow-y: auto;
    width: calc(100% - 16rem);
    height: calc(100vh - 8rem);
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    
}

/* CTA */
.cta {
    position: fixed;
    top: 0;
    right: 0;

    padding-right: 2em;
    width: calc(100% - 16rem);
    height: 6rem;
    line-height: 6rem;
    text-align: right;
    vertical-align: center;
    background-color: rgba(0, 0, 0, .5);
    
}

.cta a {
    border: 2px solid #535353;
    border-radius: 2em;
    padding: .8em 2em;
    color:  #ffffff;
}

/* MUSIC */
.music {
    padding: 8rem 1rem 2rem;
    width: 100%;
    height: 100%;
    background-color: #354986;
}

/* EXPLORE */
.explore {
    width: 100%;
    text-align: center;
}

.explore li { 
    display: inline-block;
}

.explore a { 
    padding: .35em .7em;
    font-weight: 500;
}

/* RECENTLY-PLAYED */

.recently-played {
    width: 100%;
}


.rp {
    /* display: inline-block; */
    float: left;
    margin: 1em;
    width: calc(100% / 6 - 2em);
    /* debug */
    height: 100px;
    min-width: 100px;
    background-color: cadetblue;
}





/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;


    background-color: rgb(255, 123, 248);
}

footer > * {
    border: 1px solid black;
    height: 6rem;
    flex-basis: 100%;

}

